<footer class="footer bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="navbar-brand">Time Point</a>
        <p class="text-muted">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Exercitationem fuga harum voluptate?
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="mb-3">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Stockholm, Sweden</li>
          <li class="mb-2">timepoint@gmail.com</li>
          <li class="mb-2">+90 72 07 04 73</li>
          <li class="mb-2">+88 72 345 67</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="mb-3">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Account</li>
          <li class="mb-2">Login / Register</li>
          <li class="mb-2">Cart</li>
          <li class="mb-2">Shop</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="mb-3">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Privacy Policy</li>
          <li class="mb-2">Terms of Use</li>
          <li class="mb-2">FAQ's</li>
          <li class="mb-2">Contact</li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="text-muted mb-0">
          &copy; 2024 Exclusive. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
