<form id="forgotForm">
    <div class="container" style="display: flex; justify-content: center; align-self: center;">
        <div class="forgot-password-container">
            <div width="200px" height="140px" style="align-items: center;">
                <h2>Reset your Password</h2>
                <div class="row form-group">
                    <div class="col-9">
                        <label for="password">Enter Your New Password</label>
                        <input type="password" style="font-size: 16px;" id="password" class="form-control" name="password">
                        <p id="password-error" class="text-danger" style="font-size: 14px;"></p>
                    </div>
                    <div class="col-9">
                        <label for="password">Re-Enter Your New Password</label>
                        <input type="password" style="font-size: 16px;" id="confirm_password" class="form-control" name="confirm_password">
                        <p id="confirm_password-error" class="text-danger" style="font-size: 14px;"></p>
                    </div>
                    <div class="col-3">
                        <button type="button" id="sendBtn" class="btn btn-primary fs-4 mt-5">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>